@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Kanit:wght@300&family=Roboto+Condensed&family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin: 0;
    font-variant: tabular-nums;
}

body a {
    transition: 400ms;
    text-decoration: none;
}

body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body a:active, body a:focus, body a:visited, body a:hover {
    text-decoration: none;

}

.app{
    height: 100%;
}

.app-wrapper{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
 /* start style with desktop mode */
.app-wrapper .desktop-wrapper{
    background-image: url("../images/background.jpg");
    display: flex;
    flex: 1 0 auto;
}

.app-wrapper .desktop-wrapper .left-bg{
    background-image: url("../images/leftbg.png") !important;
    background: no-repeat top right;
    flex: 1;
}

.app-wrapper .desktop-wrapper .right-bg{
    background-image: url("../images/rightbg.png") !important;
    background: no-repeat top left;
    flex: 1;
}

.main-wrapper{
    padding: 0;
    width: 1024px;
}

.pointer{
    cursor: pointer;
}

.main-wrapper .row1{
    display: flex;
    margin-bottom: 17px;
}

.title-main-wrapper{
    margin-right: 24px;
    width: 680px;
}

.components-title{
    display: flex;
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 17px;
    font-stretch: condensed;
    font-weight: bold;
    height: 36px;
    justify-content: space-between;
    padding: 7px 12px;
    background: #e40014;
    color: #fff
}

.white-block{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
}

.components-title h1{
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 23px;
    margin-right: 12px;
    color: #fff;
}

.hours-main-wrapper{
    width: 320px;
}

.opening-hours{
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: space-between;
    max-width: 350px;
    width: auto;
    background: #e40014;
    color: #fff;
}

.times-block{
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-weight: 300;
    padding: 3px 5px;
}

.times-block .title{
    font-weight: bold;
}


.opening-hours .chevron-block{
    align-items: center;
    display: flex;
    width: 26px;
}

.main-wrapper .row2{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.main-wrapper .row2 .categories-Wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 24px;
    width: 680px;
    z-index: 14;
}

.main-wrapper .row2 .categories-Wrapper .categories-menu-wrapper{
    margin-bottom: 24px;
    display: flex;
    padding: 0;
    height: auto;
    background: #030303;
}

.categories-menu-wrapper .logo-container{
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    object-fit: contain;
    padding: 0;
    width: 185px;
    max-width: 185px;
    background: #030303;
}

.categories-menu-wrapper .logo-click{
    cursor: pointer;
}

.categories-menu-wrapper .logo-container img{
    height: 100%;
    object-fit: contain;
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

.categories-menu-wrapper .logo-container .logo{
    max-height: 112px;
    max-width: 185px;
}

.categories-menu-wrapper .category-menu-desktop-hermes-theme{
    height: 112px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    background: #030303;
}

.categories-menu-wrapper .category-menu-desktop-hermes-theme .category-wrapper{
    align-items: center;
    display: flex;
    height: 28px;
    justify-content: flex-start;
    line-height: 28px;
    list-style: none;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3%;
    color: #fff;
}

.categories-menu-wrapper .category-menu-desktop-hermes-theme .odd{
    background: #383838;
}

.categories-menu-wrapper .category-menu-desktop-hermes-theme .name{
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 14px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.categories-menu-wrapper .category-menu-desktop-hermes-theme a:focus .name,
.categories-menu-wrapper .category-menu-desktop-hermes-theme a:hover .name{
    font-size: 14px;
    color: #05ee6e;
    font-weight: 600;
    transition: .44s;
}

.activespan{
    font-size: 14px;
    color: #05ee6e;
    font-weight: 600;
    transition: .44s;
}

/* .categories-menu-wrapper .category-menu-desktop-hermes-theme a:focus span.active{
    font-size: 14px;
    color: #05ee6e;
    font-weight: 600;
    transition: .44s;
} */


.categories-menu-wrapper .category-menu-desktop-hermes-theme a:focus .fff,
.categories-menu-wrapper .category-menu-desktop-hermes-theme a:hover .fff{
    color: #05ee6e;
    transform: rotate(60deg);
    font-size: 14px;
    font-weight: bolder;
}
.activeicon{
    color: #05ee6e;
    transform: rotate(60deg);
    font-size: 14px;
    font-weight: bolder;
}

/* .categories-menu-wrapper .category-menu-desktop-hermes-theme a:focus i.active{
    color: #05ee6e;
    transform: rotate(60deg);
    font-size: 12px;
    font-weight: bolder;
} */

.main-wrapper .row2 .categories-Wrapper .homepage-desktop{
    width: 100%;
}

.homepage-mobile .mobile-homepage-section,
.homepage-desktop .desktop-content .desktop-homepage-section{
    color: #fff;
    background: #030303;
}

/* .homepage-desktop .desktop-content  */
.homepage-seotext{
    font-family: Roboto,sans-serif;
    padding: 0 5px 10px;
}

.homepage-seotext p{
    margin: 0;
    padding: 0 12px;
}
.homepage-mobile .mobile-homepage-section .homepage-title,
.homepage-desktop .desktop-content .homepage-seotext .homepage-title{
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 12px;
    text-transform: uppercase;
    width: 100%;
}
.homepage-mobile .mobile-homepage-section h2,
.homepage-desktop .desktop-content .desktop-homepage-section h2{
    color: #fff;
    align-items: center;
    display: flex;
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 17px;
    font-weight: 700;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}

.homepage-desktop .desktop-content .homepage-seotext p{
    margin: 0;
    padding: 0 12px;
}
.homepage-mobile .homepage-seotext .homepage-anchors,
.homepage-desktop .homepage-seotext .homepage-anchors{
    padding: 0 12px;
}
.homepage-mobile .homepage-seotext .homepage-anchors a,
.homepage-desktop .homepage-seotext .homepage-anchors a{
    color: #fff;
    padding-bottom: 2px;
}
.homepage-mobile .homepage-seotext .homepage-anchors a:hover ,
.homepage-desktop .homepage-seotext .homepage-anchors a:hover{
    text-decoration: underline;
}

.homepage-desktop .desktop-content .desktop-homepage-categories {
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.homepage-desktop .desktop-content .desktop-homepage-categories .list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

.homepage-desktop .desktop-content .desktop-homepage-categories .list .item-wrapper{
    flex: 0 0 33.3333%;
    margin-bottom: 10px;
}

.desktop-homepage-categories .list .item-wrapper .item{
    background: #efefef;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.desktop-homepage-categories .list .item-wrapper .item .img-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.desktop-homepage-categories .list .item-wrapper .item .img-wrapper img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.desktop-homepage-categories .list .item-wrapper .item .title{
    background: rgba(255, 255, 255, 0.8);
    color: black;
    align-items: center;
    bottom: 10px;
    display: flex;
    font-size: 14px;
    justify-content: flex-start;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    transition: background .28s;
    width: 100%;
}

.desktop-homepage-categories .list .item-wrapper .item:hover .title{
    background: #fff;
}

.homepage-desktop .desktop-content .desktop-homepage-delivery{
    padding-bottom: 15px;
}

.homepage-desktop .desktop-content .desktop-homepage-delivery .list{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 10px;
}

.homepage-desktop .desktop-content .desktop-homepage-delivery .list .item{
    cursor: default;
    font-family: OpenSans,sans-serif;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .28s;
    white-space: nowrap;
    width: 33.3333%;
    color: #fff;
}

.homepage-desktop .desktop-content .desktop-homepage-delivery .item:hover{
    color: #007333;
}

.product-desktop-main-container {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 20px;
    background: #030303;
    color: #fff;
    display: none;
}

.products-list-container {
    padding-top: 20px;
}

.product-desktop-main-container .allergens-list {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.product-list-category-header-container .image-mode-container {
    display: flex;
    flex-direction: column;
    min-height: 110px;
    position: relative;
}

.product-list-category-header-container .image-mode-container .category-image {
    background-size: cover !important;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.product-list-category-header-container .image-mode-container .image-mode-title-text {
    align-self: flex-start;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 33px;
    padding: 10px 12px;
    z-index: 2;
    color: #fff;
    background: #030303;
}

.product-small-picture-container {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    cursor: pointer;
    padding: 18px 10px;
    position: relative;
    border-bottom-color: #e40014;
}

.product-small-picture-container:hover{
    background: rgba(50, 50, 50, 0.8);
}

.product-small-picture-container .product-small-picture-wrapper {
    display: flex;
}

.product-small-picture-container 
.product-small-picture-wrapper 
.product-small-picture-text-container {
    flex: 1;
    margin-right: 10px;
    min-width: 0;
}

.product-small-picture-container 
.product-small-picture-wrapper 
.product-small-picture-button-wrapper {
    margin-left: auto;
}

.product-small-picture-container 
.product-small-picture-wrapper 
.product-small-picture-text-container 
.product-small-picture-title-block {
    align-items: center;
    display: flex;
}

.product-small-picture-container .product-small-picture-wrapper 
.product-small-picture-text-container 
.product-small-picture-description-block {
    font-family: Roboto,sans-serif;
    font-size: 12px;
    margin-top: 5px;
    word-break: break-word;
    color: #fff;
}

.product-small-picture-container 
.product-small-picture-wrapper 
.product-small-picture-text-container 
.product-small-picture-title-block 
.productNameWrap {
    align-items: baseline;
    display: flex;
    margin-right: 12px;
}

.product-small-picture-container 
.product-small-picture-wrapper 
.product-small-picture-text-container 
.product-small-picture-title-block 
.productName {
    display: -webkit-box;
    overflow: hidden;
}

.Heading-Heading5 {
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0;
    color: var(--primaryTextColor);
}

.product-small-picture-container 
.product-small-picture-wrapper .product-small-picture-text-container 
.product-small-picture-title-block .productInfo {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    margin-left: 12px;
    margin-right: auto;
    white-space: nowrap;
    cursor: pointer;
}

.product-small-picture-container 
.product-small-picture-wrapper .product-small-picture-text-container 
.product-small-picture-title-block .productInfo>p{
    font-size: 10px;
    margin-bottom: 0;
}

.Text-textp{
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #efefef;
}

.product-small-picture-container 
.product-small-picture-wrapper 
.product-small-picture-text-container .product-small-picture-description-block {
    font-family: Roboto,sans-serif;
    font-size: 12px;
    margin-top: 5px;
    word-break: break-word;
    color: #fff;
}

.product-standard-button-container {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 30px;
    justify-content: space-evenly;
    min-width: 90px;
    position: relative;
    transition: background .28s;
    width: 90px;
    background: #e40014;
    color: #fff;
}

.product-standard-button-container:hover{
    background: rgb(131, 9, 9,0.8);
}

.product-standard-button-container .left-plus {
    align-items: center;
    border-right: 1px solid;
    display: flex;
    flex: 0 0 22px;
    font-style: normal;
    justify-content: center;
    line-height: 30px;
    font-size: 18px;
}

.product-standard-button-container .product-standard-button-text {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    line-height: 30px;
}

.main-wrapper .row2 .right-pannel-wrapper{
    top: 0;
    width: 320px;
}

.main-wrapper .row2 .right-pannel-wrapper .right-side-block{
    padding-bottom: 1px;
    background: #030303;
    color: #fff;
}

.main-wrapper .row2 .right-pannel-wrapper .right-side-block .store-name{
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 36px;
    font-stretch: condensed;
    font-weight: bold;
    line-height: initial;
    padding: 2px 9px 2px 9px;
    background: #030303;
    color: #fff;
}

.delivery-info-component {
    font-family: OpenSans,sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    min-height: 78px;
    padding: 3px 9px 21px 9px;
    color: #fff;
    background: #030303;
}

.delivery-info-component .opening-time-message.open {
    color: #8fd000;
}

.Phone-Phone a {
    color: var(--primaryTextColor);
}

.preparation-row {
    align-items: center;
    display: flex;
}

.delivery-info-component .ifa{
    margin-right: 10px;
    text-align: left;
    width: 15px;
}

/* .delivery-info-component .paysystem-images {
    justify-content: flex-start;
    margin-top: 5px;
    padding: 0;
    width: auto;
} */

.basket-component {
    display: flex;
    flex-flow: column nowrap;
    background-color: #030303;
}

.basket-component .heading {
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background-color: #007333;
}

.delivery-switch-desktop {
    display: flex;
    flex: 0 0 30px;
    height: 30px;
    justify-content: center;
    margin: 12px 10px 0;
    padding: 0;
    position: relative;
}

.basket-component .delivery-switch-desktop .switch {
    background: #030303;
    border-color: rgba(255, 255, 255, 0.2);
}

.delivery-switch-desktop .switch {
    background-clip: padding-box;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    height: 30px;
    list-style: none;
    min-width: 160px;
    overflow: auto;
    width: 100%;
}

.basket-component .delivery-switch-desktop .switch .active {
    background: #fff;
    color: #030303;
}

.delivery-switch-desktop .switch span {
    clear: both;
    display: block;
    flex-basis: 50%;
    flex-grow: 1;
    font-weight: 400;
    height: 100%;
    line-height: 1.42857143;
    padding: 3px 20px;
    text-align: center;
    transition: background .28s, -webkit-transform .28s;
    transition: background .28s, transform .28s;
    transition: background .28s, transform .28s, -webkit-transform .28s;
    white-space: nowrap;
    width: 50%;
}

.empty-basket {
    align-items: stretch;
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    background-color: #030303;
}

.empty-basket .icon-wrapper {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: center;
}

.empty-basket .title {
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 17px;
    font-stretch: condensed;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.empty-basket .chef {
    margin-bottom: 12px;
    margin-top: 33px;
}

.empty-basket hr {
    border-bottom: 0;
    border-style: solid;
    border-width: 1px;
    margin: 7px;
    margin-top: 35px;
    border-color: #fff;
}

.empty-basket .total {
    display: flex;
    flex-direction: column;
    font-family: OpenSans,sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.discount {
    align-items: center;
    display: flex;
    font-family: OpenSans,sans-serif;
    font-weight: 700;
    padding: 5px 5px 5px 10px;
    width: 100%;
    background: #eb5635;
    color: #fff;
}

.empty-basket .total .sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
}

.to-order-component {
    margin-top: auto;
    padding: 10px;
    background-color: #030303;
}

.to-order-component .button-container button.disabled {
    background: #e6e6e6;
    border-color: #e6e6e6;
}

.button-order {
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0;
    align-items: center;
    border-radius: 4px;
    display: flex;
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    justify-content: center;
    line-height: normal;
    position: relative;
    text-align: center;
    transition: background .28s, color .28s;
    width: 100%;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.to-order-component .button-order {
    font-family: Roboto,sans-serif;
    height: 40px;
}

.button-order[disabled] {
    color: #ccc !important;
    background: #e6e6e6 !important;
    border-color: #e6e6e6 !important;
}

.paysystem-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding: 0 15px;
    margin: 10px 0 15px 0;
}

.paysystem-images img {
    height: 20px;
    padding: 0 5px;
    margin-left: 5px;
    mix-blend-mode: luminosity;
    opacity: 0.5;
}

.widget-wrapper {
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #030303;
}

.app-widget {
    width: 100%;
    margin: 3px 0;
}

.app-widget .app-widget-title {
    font-family: Roboto,sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.app-widget .btns {
    background-image: url(../images/background-wed.png);
    background-position: 10px 30px 10px 0px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 220px;
}

.app-widget .bottom-info {
    align-items: center;
    display: flex;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: #007333;
    color: #fff;
}

.app-widget .btns .qr-code {
    margin-left: 25px;
    width: 120px;
}

.app-widget .btns .app-img img {
    margin-bottom: 0;
    margin-left: 20px;
    margin-top: 4px;
    width: 120px;
}

.app-widget .bottom-info {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: #007333;
    color: #fff;
    margin: 0 0 5px 0;
}

.right-side-block .bottom-text {
    font-family: Roboto,sans-serif;
    font-size: 12px;
    line-height: 36px;
    margin-top: 10px;
    text-align: center;
}

.footer{
    background: #e40014;
}

.desktop-footer .footer-wrapper{
    align-items: flex-start;
    display: flex;
    height: fit-content;
    justify-content: flex-start;
    padding: 15px 0 30px;
}

body .container {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

.desktop-footer .footer-column {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
}

.desktop-footer .title{
    color: #fff;
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.desktop-footer .mobile-apps-wrapper {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.desktop-footer .mobile-apps-wrapper .mobile-app {
    flex: 1;
    height: 40px;
    margin-bottom: 10px;
    max-height: 50px;
    max-width: 113px;
}

.desktop-footer .mobile-apps-wrapper img {
    width: 100%;
}

.footer .footer-wrapper .item,
.footer .footer-wrapper .item li a{
    color: rgba(255, 255, 255, 0.8);
}

.footer .footer-wrapper .item+ .item{
    margin-top: 15px;
}
/* finish style with desktop mode */

/* start style with mobile mode */
.app-wrapper.mobile-view {
    overflow: hidden;
}

.app-state-mobile-wrapper {
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
}

.sticky-header-mobile {
    font-family: inherit;
    height: 44px;
    position: sticky;
    top: 0px;
    transform: translate3d(0, 0, 0);
    z-index: 100;
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: space-between;
    min-height: 44px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    color: #fff;
    background: #e40014;
}

.sticky-header-mobile .branch-name {
    align-items: center;
    display: flex;
    flex: 1;
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: flex-start;
    max-height: 27px;
    opacity: 1;
    overflow: hidden;
    padding-left: 12px;
    transition: 0.5s opacity;
    transition-timing-function: ease-in;
    white-space: nowrap;
    color: #fff;
}

.sticky-header-mobile .menu-toggle-btn {
    align-items: center;
    background: transparent;
    border: none;
    box-shadow: none;
    display: flex;
    font-size: 28px;
    height: 44px;
    justify-content: center;
    min-width: 44px;
    outline: none;
    width: 44px;
    color: #fff;
}

.sticky-header-mobile .branch-name .branch-name-title {
    font-size: 18px;
    font-weight: 700;
    overflow-x: hidden;
    padding-right: 12px;
    text-overflow: ellipsis;
    color: #fff;
}

.phone-number-mobile {
    align-items: center;
    display: flex;
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 44px;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #030303 !important;
    padding: 0 12px;
}

.phone-number-mobile .phone span,
.phone-number-mobile .phone .mph {
    color: #fff !important;
}

.phone-number-mobile .phone > a .mph {
    margin-right: 6px;
}

.mobile-homepage-section {
    font-family: Roboto Condensed,Roboto,sans-serif;
    padding: 20px 0;
}

.mobile-homepage-section h2 {
    padding: 11px 12px;
    align-items: center;
    display: flex;
    font-family: inherit;
    font-weight: 300;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 11px 10px;
    width: 100%;
}

.mobile-homepage-section:not(:first-child) {
    margin-top: -44px;
    padding: 68px 0 24px;
}

.mobile-homepage-categories {
    font-size: 16px;
    font-weight: 300;
}

.mobile-homepage-categories .list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
}

.mobile-homepage-categories .item-wrapper {
    flex: 0 0 50%;
    margin-bottom: 10px;
}

.mobile-homepage-categories .item-wrapper:nth-child(odd) {
    padding-right: 5px;
}

.mobile-homepage-categories .item {
    background: #efefef;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.mobile-homepage-categories .img-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.mobile-homepage-categories .img-wrapper img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.mobile-homepage-categories .title {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    transition: background .28s;
    width: 100%;
}

.mobile-homepage-delivery .list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 12px;
}

.mobile-homepage-delivery .item {
    color: #fff;
    font-size: 18px;
    width: 100%;
}

.mobile-view .footer .footer-wrapper{
    margin-left: 15px;
}

.main-content-mobile .mobile-header {
    font-family: Roboto Condensed,Roboto,sans-serif;
}

.main-content-mobile .branch-info {
    flex-wrap: nowrap;
    align-items: center;
    color: #1B1B1B;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #030303;
}

.main-content-mobile .branch-info .logo {
    flex: 1 0 100%;
    margin: 0 0 10px;
    align-items: center;
    display: flex;
    flex: 1 0 180px;
    justify-content: center;
    margin-right: 10px;
    max-height: 150px;
    max-width: 180px;
    overflow: hidden;
}

.main-content-mobile .branch-info .logo img {
    width: 100%;
    height: 100%;
    max-height: 150px;
    object-fit: scale-down;
}

.main-content-mobile .branch-info .info {
    font-size: 11px;
    margin-left: 20px;
    width: 100%;
    background: #030303;
    color: #fff;
}

.main-content-mobile .branch-info .line {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.main-content-mobile .opening-time-message.open {
    color: #8fd000;
}

.main-content-mobile .branch-info .line .ifa {
    margin-right: 10px;
}

.main-content-mobile .branch-info .info .paysystem-images {
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.main-content-mobile .branch-info .paysystem-images img {
    flex: 0;
    margin: 0;
    padding: 0 5px;
    height: 10px;
}

.main-content-mobile .branch-info .paysystem-images img:nth-of-type(1) {
    padding-left: 0;
}

.main-content-mobile .discount {
    align-items: center;
    display: flex;
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 34px;
    justify-content: flex-start;
    padding: 5px 10px;
    background: #eb5635;
    color: #fff;
}

.category-slider {
    pointer-events: auto;
    background: #FFFFFF;
    height: 0;
    overflow: visible;
    position: sticky;
    top: 44px;
    z-index: 10;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    height: 60px;
    background: #212121 !important;
}


.swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.category-slider .swiper-wrapper .slider-link {
    align-items: center;
    display: flex !important;
    font-size: 17px;
    font-weight: 500;
    height: 60px;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
    width: fit-content;
    color: #fff;
}

.category-slider .slider-link-active {
    color: #00f06c !important;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.main-products-wrapper {
    transform: translate3d(0, 0, 0);
    flex-grow: 1;
    opacity: 1;
    pointer-events: auto;
    background: #030303;
    color: #fff;
}

.products-list-container{
    position: relative;
    height: 713px;
    width: 100%;
    overflow: auto;
    will-change: transform;
    direction: ltr;
    padding-top: 0px;
    padding-bottom: 0px;
}

.products-list-div{
    height: 6162px;
    width: 100%;
    position: relative;
}
.product-row{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 110px;
    width: 100%;
}

.product-list-category-header-container .image-mode-container {
    display: flex;
    flex-direction: column;
    min-height: 110px;
    position: relative;
}

.product-list-category-header-container 
.image-mode-container .category-image {
    background-size: cover !important;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.product-list-category-header-container .image-mode-container .category-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.product-list-category-header-container .image-mode-container .image-mode-title-text {
    align-self: flex-start;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 33px;
    padding: 10px 12px;
    z-index: 2;
    color: #fff;
    background: #030303;
}

elem-derivative {
    left: calc(2.5em + 25px);
}

.main-products-wrapper .product-small-picture-container {
    border-bottom-color: #e40014;
}

.ProductSmallPictureMobile .card-content {
    display: flex;
}

.ProductSmallPictureMobile .card-content .product-description {
    width: 100%;
}

.ProductSmallPictureMobile .card-content .product-description h4 {
    color: #1B1B1B;
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 5px;
    color: #fff;
}

.ProductSmallPictureMobile .card-content .product-description p {
    margin: 10px 0;
}

.ProductSmallPictureMobile 
.card-content 
.product-description .productInfo {
    background-color: transparent;
    border: none;
    padding: 0;
}

.ProductSmallPictureMobile 
.card-content 
.product-description 
.icons-desc {
    margin-top: 10px;
}

.ProductSmallPictureMobile 
.card-content .product-description 
.product-small-picture-button-wrapper {
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    z-index: 2;
}

.main-products-wrapper 
.product-small-picture-container 
.ProductSmallPictureMobile 
.product-small-picture-description-block {
    color: #fff;
}

.ProductSmallPictureMobile .card-content 
.product-description .icons-desc 
.product-small-picture-description-block {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.67;
    opacity: 0.7;
}

.ProductSmallPictureMobile .card-content 
.product-description p {
    margin: 10px 0;
}

.mobile-footer {
    color: #ffffff;
    font-family: Roboto Condensed,Roboto,sans-serif;
    font-size: 18px;
    padding: 30px 12px 80px;
}

.mobile-footer .title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.mobile-footer .block {
    margin-bottom: 15px;
}

.mobile-footer .item {
    color: rgba(255, 255, 255, 0.8);
}

.widget-wrapper {
    margin-bottom: 40px;
    margin-top: 40px;
    background: #030303;
}

.shopping-cart-panel-wrapper.mobile {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 11;
    padding: 20px 12px 12px 12px;
}

.shopping-cart-panel-wrapper .shopping-cart-panel {
    align-items: center;
    border-radius: 4px;
    display: flex;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.shopping-cart-panel{
    background: #007333;
    color: #fff
}

.shopping-cart-panel-wrapper .shopping-cart-panel .info {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}